@import "../fonts/helvetica/stylesheet.css";
@import "../fonts/montserrat/stylesheet.css";
@import "../css/bootstrap-grid.min.css";
@import "../css/owl.carousel.min.css";
@import "../css/owl.theme.default.min.css";
@import "../plugins/jvectormap/css/jquery-jvectormap.min.css";

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*::-webkit-media-controls-panel {
    display: none !important;
    -webkit-appearance: none;
}

*::-webkit-media-controls-play-button {
    display: none !important;
    -webkit-appearance: none;
}

*::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat";
}

.row {
    margin: 0px !important;
}

.text-orange {
    color: #FF5C00 !important;
}

#owl-carousel-partners {
    padding: 0px 64px;

    .owl-stage {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .owl-item {
            margin: 0px 8px !important;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

#world_map {
    width: 100%;
    height: 512px;
}

.jvectormap-zoomout {
    top: 40px;
}

.jvectormap-zoomin,
.jvectormap-zoomout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 50%;
    font-size: 32px;
    font-weight: 500;
    color: #000000;
    padding: 8px;
    cursor: pointer;
    margin: 12px;
    transition: background-color 128ms linear, color 128ms linear;
}

.jvectormap-zoomin:hover,
.jvectormap-zoomout:hover {
    background-color: #ff0f00;
    color: #ffffff;
}

.header {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__overlay {
        &--circle {
            position: absolute;
            bottom: -200px;
            right: -1000px;
            width: 1500px;
            height: 1400px;
            border-radius: 50%;
            background-image: radial-gradient(circle, rgba(255, 15, 0, 1) 0%, rgba(0, 0, 0, 0) 64%);
            z-index: 64;
        }
    }

    &__block-main {
        position: relative;
        width: 100%;
        height: 100vh;
    }

    &__block-secondary {
        position: relative;
        width: 100%;
        height: 100vh;
    }

    &__block-global {
        position: relative;
        width: 100%;
        height: 100vh;
    }

    &__color-block {
        &--black {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: #000000;

            &::before {
                content: "";
                position: absolute;
                bottom: 0px;
                left: 0px;
                display: flex;
                width: 100%;
                height: 50%;
                background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(255, 15, 0) 200%);
            }
        }
    }
}

.image-block {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 64%, transparent 100%);
        width: 100%;
        height: 50%;
    }
}

.video-block {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;

    &--video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0% 100%;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 64%, transparent 100%);
        width: 100%;
        height: 50%;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 64%, transparent 100%);
        width: 100%;
        height: 50%;
    }
}

.content-block-main {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 128;
}

.content-block-secondary {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 128;
}

.content-block-global {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 128;
}

.navbar {
    width: 100%;
    height: auto;

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.22);
    }

    &__logo {
        width: 150px;
        height: auto;

        &>a>img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }

    &__item {
        &:not(:last-of-type) {
            margin-right: 32px;
        }
    }

    &__link {
        display: flex;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 12px;
        font-weight: 600;
        color: #ffffff;
        padding: 12px;
        transition: color 128ms linear;

        &:hover {
            color: #ff0f00;
        }

        &--active {
            display: flex;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 12px;
            font-weight: 600;
            color: #ff0f00;
            padding: 12px;
            transition: color 128ms linear;
        }
    }

    &__phone {
        &--link {
            display: flex;
            text-decoration: none;
            font-size: 14px;
            font-weight: 500;
            color: #ffffff;
            padding: 12px;
            transition: color 128ms linear;

            &:hover {
                color: #ff0f00;
            }
        }
    }
}

.description-block-main {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 64px;

    &__text-block {
        position: relative;
    }

    &__overlay {
        &--triangle {
            position: absolute;
            top: -180px;
            left: -130px;
            width: 180px;
            height: 180px;
            background-image: url("../content/img/triangle-small.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &__heading {
        &--title {
            font-family: "Helvetica Neue";
            font-weight: 500;
            font-size: 60px;
            text-transform: uppercase;
            line-height: 64px;
        }

        &--title:nth-of-type(1) {
            color: #ff0f00;
        }

        &--title:nth-of-type(2) {
            color: #ffffff;
        }
    }

    &__body {
        max-width: 350px;

        &--description {
            color: #ffffff;
            font-weight: 300;
            font-size: 12px;
            line-height: 20px;
            margin-top: 16px;

            & b {
                font-weight: 600;
            }
        }
    }

    &__scroll-btn {
        & button {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            outline: none;
            border: 1px solid #ffffff;
            border-radius: 16px;
            background-color: transparent;
            color: #ffffff;
            text-transform: uppercase;
            text-wrap: nowrap;
            font-weight: bold;
            font-size: 12px;
            padding: 8px 16px;
            transition: background-color 256ms linear;
            cursor: pointer;
            z-index: 256;

            & i {
                color: #ff0f00;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.24);
            }
        }
    }
}

.description-block-secondary-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.description-block-secondary {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__text-block {
        position: relative;
        max-width: 565px;
        margin-right: 32px;
        z-index: 128;
    }

    &__overlay {
        &--triangle {
            position: absolute;
            bottom: 0px;
            left: -100px;
            width: 50%;
            height: 60%;
            background-image: url("../content/img/triangle_large.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &__heading {
        &--title:nth-of-type(1) {
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            color: #ff0f00;
            margin-bottom: 16px;
        }

        &--title:nth-of-type(2) {
            font-family: "Helvetica Neue";
            font-size: 48px;
            font-weight: 200;
            text-transform: uppercase;
            color: #ffffff;
            margin-bottom: 50px;
        }
    }

    &__body {
        &--description {
            font-size: 14px;
            font-weight: 200;
            line-height: 20px;
            color: #ffffff;

            & strong {
                color: #ff0f00;
            }
        }

        &--description:not(:last-of-type) {
            margin-bottom: 32px;
        }
    }

    &__img {
        max-width: 450px;
        height: 500px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 12px;
        }
    }
}

.description-block-global {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    ;

    &__text-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__heading {
        max-width: 540px;
        margin-bottom: 42px;

        &--title-small {
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            color: #ff0f00;
            margin-bottom: 18px;
        }

        &--title-large {
            font-family: "Helvetica Neue";
            font-size: 48px;
            font-weight: 100;
            text-transform: uppercase;
            color: #ffffff;
            margin-bottom: 24px;
        }

        &--description {
            font-size: 14px;
            line-height: 20px;
            color: #ffffff;
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__content-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        list-style-type: none;

        &:not(:last-of-type) {
            margin-right: 48px;
        }
    }

}

.content-menu {
    &__item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        & i {
            width: 20px;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #ff0f00;
            border-radius: 50%;
            font-size: 13px;
            color: #ffffff;
            margin-right: 14px;
        }

        &:not(:last-of-type) {
            margin-bottom: 16px;
        }
    }

    &__link {
        font-size: 14px;
        text-decoration: none;
        color: #ffffff;
    }
}

.main {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.main-overlay {
    &--radial {
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(-50%, -50%);
        width: calc(100% + 666px);
        height: 100%;
        background-image: radial-gradient(circle, rgba(255, 15, 0, 0.32) 0%, transparent 64%);
        z-index: -1;
    }
}

.section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;

    &__heading {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;

        &--category {
            text-transform: uppercase;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            color: #ff0f00;
            margin-bottom: 22px;
        }

        &--title {
            font-family: "Helvetica Neue";
            text-align: center;
            text-transform: uppercase;
            font-size: 36px;
            color: #000000;
        }
    }
}

.services {
    width: 100%;
    height: auto;
    margin: 64px 0px;

    &__block {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 24px;
        padding: 32px;
        overflow: hidden;
    }

    &__icon-block {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px 0px;
        margin-bottom: 16px;

        &--circle {
            position: relative;
            width: 72px;
            height: 72px;
            background-color: #ff0f00;
            background-size: 50px;
            background-position: center center;
            border-radius: 50%;
            transform-origin: center center;
            z-index: -1;
        }

        &--img {
            position: absolute;
            width: 50px;
            height: 50px;
        }
    }

    &__heading-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--title {
            font-family: "Helvetica Neue";
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 2px;
            margin-bottom: 24px;
            color: #000000;

            &:hover {
                color: #698CFF;
                text-decoration: underline;
            }
        }

        &--description {
            font-size: 13px;
            font-weight: 500;
            text-align: center;
            line-height: 24px;
        }
    }
}

.components {
    width: 100%;
    height: auto;
}

.components-block {
    position: relative;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    overflow: hidden;

    &:not(:last-of-type) {
        margin-right: 24px;
    }

    &:hover {
        & .components-block__head a {
            background-color: #ffffff;
            color: #000000;
        }

        & .components-block__body {
            height: 200px;
            backdrop-filter: blur(6px);
            background-color: rgba(100, 100, 100, 0.4);
            transform: translate(0px, 0px);
        }

        & .components-block__body--description {
            opacity: 1;
        }
    }

    &__overlay {
        &--radial {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-image: radial-gradient(circle, rgba(255, 15, 0, 0) 30%, rgba(0, 0, 0, 1) 100%);
            z-index: 128;
        }

        &--linear {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(255, 15, 0, 1) 100%);
            z-index: 128;
        }

        &--img {
            width: 100%;
            height: 100%;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 80% 100%;
            }
        }
    }

    &__head {
        position: absolute;
        top: 16px;
        right: 16px;
        z-index: 128;

        &--link {
            width: 40px;
            height: 40px;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            outline: none;
            border: 1px solid #ffffff;
            border-radius: 50%;
            color: #ffffff;
            text-decoration: none;
            transition: background-color 128ms linear, color 128ms linear;
        }
    }

    &__body {
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 100px;
        background-color: transparent;
        backdrop-filter: blur(0px);
        border-radius: 24px;
        margin: 8px;
        padding: 24px;
        overflow: hidden;
        transform: translate(-20px, -30px);
        transition: background-color 128ms linear, height 128ms linear, transform 128ms linear;
        z-index: 128;

        &--title {
            font-family: "Helvetica Neue";
            font-size: 32px;
            text-transform: uppercase;
            color: #ffffff;
            margin-bottom: 12px;
        }

        &--description {
            font-size: 14px;
            line-height: 20px;
            color: #ffffff;
            opacity: 0;
            transition: opacity 128ms linear;
        }
    }
}

.faq {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__block {
        position: relative;
        width: 100%;
        height: auto;
        background-color: #ffffff;
        border: 2px solid #000000;
        border-radius: 24px;
        padding: 32px 40px;

        &:not(:last-of-type) {
            margin-bottom: 24px;
        }
    }

    &__minimazed-detail {
        width: 100%;
        height: auto;
        transform: translate(0px, 0px);
        opacity: 1;
        transition: transform 512ms linear, opacity 512ms linear;
    }

    &__minimazed-detail-header {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &--title {
            font-family: "Helvetica Neue";
            font-size: 24px;
            color: #000000;
            max-width: 512px;
        }

        &--button {
            width: 50px;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            outline: none;
            border: 2px solid #000000;
            border-radius: 50%;
            font-size: 22px;
            transform: rotate(45deg);
            cursor: pointer;
            transition: background-color 128ms linear, color 128ms linear, transform 256ms linear;

            &:hover {
                background-color: #000000;
                color: #ffffff;
            }
        }
    }

    &__maximized-detail {
        width: 100%;
        height: auto;
        max-height: 0px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transform: translate(0px, 0px);
        opacity: 0;
        transition: transform 512ms linear, opacity 512ms linear, max-height 512ms linear;
    }

    &__maximized-detail-header {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &--title {
            font-family: "Helvetica Neue";
            font-size: 24px;
            color: #ff0f00;
        }

        &--button {
            width: 50px;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            outline: none;
            border: 2px solid #000000;
            border-radius: 50%;
            font-size: 22px;
            transform: rotate(-45deg);
            cursor: pointer;
            transition: background-color 128ms linear, color 128ms linear, transform 256ms linear;

            &:hover {
                background-color: #000000;
                color: #ffffff;
            }
        }
    }

    &__maximized-detail-body {
        width: 90%;
        height: auto;
        margin-top: 20px;

        &--description {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }
    }
}

.filtering-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.filtering-control {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
    padding: 0px;

    &__block {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    &__block--button {
        background-color: transparent;
        font-family: 'Helvetica Neue';
        font-size: 16px;
        outline: none;
        border: 1px solid #000000;
        border-radius: 24px;
        padding: 8px 24px;
        color: #000000;
        cursor: pointer;

        &[class*='filtering-active'] {
            background: #ff0f00;
            border: 1px solid #ff0f00;
            color: #ffffff;
        }

        &:not(:last-of-type) {
            margin-right: 4px;
        }
    }
}

.filtering-block {
    position: relative;
    width: 100%;
    height: 333px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 18px;
    padding: 32px;
    overflow: hidden;

    &__overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;

        &--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__overlay-video-gray {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;

        &--video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(1);
        }

        &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 70%;
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.48) 60%, rgba(255, 0, 0, 0) 100%);
            z-index: 1;
        }
    }

    &__overlay-gray {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;

        &--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 33% 0%;
            filter: grayscale(1);
        }
    }

    &__overlay-red {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;

        &--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 15, 0, 0.64);
        }
    }

    &__overlay-linear-red {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;

        &--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 80%;
            background-image: linear-gradient(180deg, rgba(255, 15, 0, 0.8) 60%, rgba(255, 0, 0, 0) 100%);
        }
    }

    &__overlay-linear-blue {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;

        &--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 80%;
            background-image: linear-gradient(180deg, rgba(0, 44, 82, 0.8) 60%, rgba(255, 0, 0, 0) 100%);
        }
    }

    &__header {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;

        &--title {
            font-family: 'Helvetica Neue';
            font-size: 24px;
            font-weight: 100;
            color: #ffffff;
        }

        &--button {
            width: 36px;
            height: 36px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
            border: 1px solid #ffffff;
            border-radius: 50%;
            font-size: 16px;
        }

    }

    &__body {
        margin-bottom: 32px;

        &--description {
            font-size: 14px;
            line-height: 18px;
            color: #ffffff;
        }

    }

    &__footer {
        width: 100%;
        height: auto;
        border-top: 1px solid #B3B3B3;
        padding-top: 16px;

        &--button {
            position: relative;
            width: 128px;
            height: 36px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            background-color: rgba(179, 179, 179, 0.24);
            backdrop-filter: blur(3px);
            border: 1px solid rgba(179, 179, 179, 0.24);
            border-radius: 24px;
            font-size: 12px;
            text-transform: uppercase;
            color: #ffffff;
        }

        &--button-toggle {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background-color: transparent;
            border: 1px solid rgba(179, 179, 179, 0.24);
            margin-right: 8px;

        }
    }

}

.footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #000000;

    &__section {
        position: relative;
        width: 100%;
        height: auto;
        background-color: #ff0f00;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 80px 0px;
    }

    &__section-heading {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 64px;
        z-index: 128;

        &--category {
            text-align: center;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            color: #ffffff;
            margin-bottom: 18px;
        }

        &--title {
            font-family: "Helvetica Neue";
            text-transform: uppercase;
            text-align: center;
            font-size: 24px;
            color: #ffffff;
        }
    }

    &__section-overlay--triangle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background-image: url("../content/img/triangle_partners.png");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    &__content {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    &__contact {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid #959595;
        margin: 64px 0px;
    }

    &__contact-block {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 16px;
        padding: 20px;
        margin-bottom: 28px;
        margin-right: 32px;
        text-decoration: none;
        transition: background-color 128ms linear;

        &:not(:last-of-type) {
            margin-right: 64px;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.12);
        }
    }

    &__contact-block-icon {
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: 1px solid #ffffff;
        border-radius: 50%;
        font-size: 16px;
        color: #ffffff
    }

    &__contact-block-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 16px;

        &--title {
            font-size: 14px;
            font-weight: 300;
            color: #959595;
            margin-bottom: 4px;
        }

        &--description {
            max-width: 300px;
            font-size: 14px;
            color: #ffffff;
        }
    }

    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px;
    }

    &__nav-about {
        width: 100%;
        height: auto;
        max-width: 427px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-right: 128px;

        &--title {
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
            color: #ffffff;
            margin-bottom: 20px;

            & strong {
                color: #ff0f00;
            }

        }

        &--description {
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            color: #ffffff;
        }
    }

    &__nav-navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &--title {
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            color: #ff0f00;
            margin-bottom: 20px;
        }
    }

    &__nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        list-style-type: none;

        &--item {

            &:not(:last-of-type) {
                margin-bottom: 12px;
            }
        }

        &--link {
            display: flex;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 400;
            color: #ffffff;
            transition: color 128ms linear;

            &-active{
                color: #ff0f00;
            }

            &:hover {
                color: #ff0f00;
            }
        }
    }

    &__nav-social {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__nav-social-icon {
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: 1px solid #ffffff;
        border-radius: 50%;
        font-size: 16px;
        text-decoration: none;
        color: #ffffff;
        transition: color 128ms linear, border 128ms linear;

        &:not(:last-of-type) {
            margin-bottom: 16px;
        }

        &:hover {
            border: 1px solid #ff0f00;
            color: #ff0f00;
        }
    }

    &__bottom {
        width: 100%;
        height: auto;
        background-color: #242424;
        padding: 20px;
        margin-top: 128px;
    }

    &__bottom-copyright--description {
        font-size: 12px;
        font-weight: 300;
        text-align: center;
        color: #ffffff;
    }
}

@media screen and (max-width: 992px) {

    .faq__minimazed-detail-header--title,
    .faq__maximized-detail-header--title {
        font-size: 18px;
        max-width: 444px;
    }

    .services {
        &__heading-block {
            &--title {
                font-size: 22px;
            }
        }
    }

    .navbar {
        &__phone {
            display: none;
        }

        &__logo {
            margin-bottom: 24px;
        }

        &__content {
            flex-direction: column;
        }
    }

    .description-block-secondary-wrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer {
        &__section-heading {
            &--category {
                font-size: 18px;
            }

            &--title {
                font-size: 32px;
            }
        }

        &__contact-block {
            width: 100%;

            &:not(:last-of-type) {
                margin: 0px;
                margin-bottom: 12px;
            }
        }

        &__contact {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    .description-block-main {
        &__heading {
            &--title {
                font-size: 48px;
            }
        }

        &__scroll-btn {
            margin-top: 32px;
        }

        &__overlay {
            &--triangle {
                display: none;
            }
        }
    }

    .description-block-secondary {
        &__heading {
            &--title:nth-of-type(2) {
                font-size: 48px;
            }
        }

        &__img {
            display: none;
        }

        &__text-block {
            margin-right: 0px;
        }
    }

    .description-block-global {
        &__content {
            display: none;
        }

        &__heading {
            &--title-large {
                font-size: 42px;
            }
        }
    }

    .section {
        padding: 64px 0px;

        &__image {
            width: 100%;
        }

        &__heading {
            &--category {
                font-size: 18px;
            }

            &--title {
                font-size: 32px;
            }
        }
    }
}




















@media screen and (max-width: 768px) {

    .faq__minimazed-detail-header--title,
    .faq__maximized-detail-header--title {
        max-width: 333px;
    }

    .section {
        &__heading {
            &--category {
                font-size: 12px;
            }

            &--title {
                font-size: 24px;
            }
        }
    }

    .footer {
        &__section-heading {
            &--title {
                font-size: 24px;
            }

            &--category {
                font-size: 12px;
            }
        }
    }

    .description-block-main {
        &__overlay {
            &--triangle {
                display: none;
            }
        }

        &__heading {
            &--title {
                font-size: 42px;
                line-height: 48px;
            }
        }
    }

    .description-block-secondary {
        &__overlay {
            &--triangle {
                display: none;
            }
        }

        &__heading {
            &--title {
                &:nth-of-type(2) {
                    font-size: 42px;
                }
            }
        }
    }

    .footer {
        &__contact-block {
            margin-bottom: 16px;
        }
    }

    .description-block-global {
        &__heading {
            &--title-large {
                font-size: 32px;
            }
        }
    }
}











@media screen and (max-width: 576px) {
    .filtering-control {
        flex-direction: column;

        &__block {
            &:not(:last-of-type) {
                margin-bottom: 16px;
            }
        }

        &__header {
            &--title {
                font-size: 20px;
            }
        }
    }

    .faq {
        &__maximized-detail-body {
            &--description {
                max-height: 256px;
                overflow: scroll
            }
        }

        &__minimazed-detail-header {
            flex-direction: column-reverse;
            justify-content: flex-start;
            align-items: flex-start;

            &--button {
                margin-bottom: 16px;
            }
        }

        &__maximized-detail-header {
            flex-direction: column-reverse;
            justify-content: flex-start;
            align-items: flex-start;

            &--button {
                margin-bottom: 16px;
            }
        }
    }

    .description-block-secondary__body {
        &__body {
            overflow: scroll;
            max-height: 256px;
        }
    }

    .components-block {
        &__body {
            &--description {
                overflow: scroll;
                max-height: 111px;
            }

            &--title {
                font-size: 26px;
            }
        }
    }

    .navbar {
        &__list {
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__item {
            &:not(:last-of-type) {
                margin: 0px;
            }
        }
    }

    .section {
        padding: 64px 0px;

        &__heading {
            margin-bottom: 64px;
        }
    }

    .footer {
        &__nav-about {
            display: none;
        }

        &__contact-block {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 32px !important;
        }

        &__contact-block-icon {
            margin-bottom: 16px;
        }

        &__nav-navigation {
            padding: 0px 20px;
        }

        &__contact-block-info {
            margin: 0;
        }
    }
}